* {
    margin: 0;
    padding: 0;
    --main-color: rgb(0, 0, 0);
    --secondary-color: #33ffcc;
    --hover-color: #cc99ff;
}

body {
    background-color: var(--main-color);
    color: white;
}

.navbarDiv {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.titleA {
    display: flex;
    background-color: var(--secondary-color);
    /* padding: 15px 30px; */
    padding: 1dvh 1.6dvw;
    border-color: black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 150ms ease-in-out;
}

.titleA:hover {
    background-color: var(--hover-color);
    color: rgb(255, 255, 255);
    transition: background-color 150ms ease-in-out;
}

.titleDiv {

}

.colorTitle {
    display: flex;
    justify-content: center;
    margin-top: 3dvh;
    font-size: 3rem;
    margin-bottom: 2dvh;
    color: var(--hover-color);
}

.cyan {
    color: var(--secondary-color);
    background-color: var(--secondary-color)
}