@font-face {
    font-family: 'modern_dos';
    src: url('assets/customfont-webfont.woff2') format('woff2'),
         url('assets/customfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    --text-color: #3add8b;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #3add8b;
}

body {
    height: 100%;
}

.imageParent {
    height: 100vh; 
    width: 100vw;  
    background-image: url('assets/ibm2.jpg'); /* ChatGPT */
    background-size: cover; /* ChatGPT */
    background-position: center center; /* ChatGPT */
    background-repeat: no-repeat; /* ChatGPT */
}

.center {
    position: relative;
    text-align: center;
    top: -70dvh;
    left: -10dvh;
}

.navbar {
    position: relative;
    text-align: center;
    top: -80dvh;
    left: -10dvh;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.navLink {
    padding: 1dvh 2dvh;
    text-decoration: none;
    font-family: modern_dos;
    transition: color 100ms ease-in-out;
}

.navLink:hover {
    color: white;
    text-decoration:  underline overline;
    transition: color 100ms ease-in-out;
}

.internetHistory {
    font-family: modern_dos;
    font-size: 3rem;
    margin-bottom: 3dvh;
}

.itemListParent {
    position: relative;
    text-align: center;
    top: -70dvh;
    left: -10dvh;
    display: flex;
    justify-content: center;
    text-align: left;
}

.itemListItem {
    font-family: modern_dos;
    font-size: 1.5rem;
    margin-top: 0.5dvh;
}

.itemListItem::before {
    content:"• ";
}

.buttonParent {
    position: relative;
    text-align: center;
    top: -70dvh;
    left: -10dvh;
}

.whiteColor {
    color: white;
}